<section class="card">
  <h3 class="title">{{ title }} (With Strategy)</h3>

  <div>
    Status: <strong>{{ status }}</strong>
    <span *ngIf="status === 'uploading'">
      • {{ (progress * 100) | number:'1.0-0' }}%
    </span>
  </div>

  <progress class="bar" [value]="progress" max="1"></progress>

  <div class="actions">
    <button (click)="start()" [disabled]="status==='uploading' || status==='recording'">
      Start
    </button>
    <button (click)="reset()">Reset</button>
  </div>
</section>